.form-container {
    background-color: rgba(245, 245, 245, 0.479);
    text-align: center;
    text-justify: inter-word;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    font-size: 14px;
    margin: 50px auto;
    -moz-box-shadow: 0px, 0px, 15px, rgba(0, 0, 0, 0.22);
    box-shadow: 0px, 0px, 15px, rgba(0, 0, 0, 0.22);
    border: 5px solid rgb(2, 0, 0);
    border-style: outset;
    border-radius: 6px;
}

.form-group {
    padding: 10px;
    font-size: 15px;
    line-height: 2;
    margin-bottom: 10px;
}

input {
    border-radius: 3px;
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1%;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
}